
*{
	height:100%;
	weight:100%;
	 margin: 0px;
	 padding:0px;
	 
	}

@MEDIA only screen and (min-width:100px) {
	
	.top,
	.main{
	
	weight:100%;
	}
	.top
	{

	padding-top:4px;
	height:10%;
	float:top;
	border-bottom:1px solid #9494c5;
	
	}

	.main{
	height:88%;
 padding-top:4px;
 
	}
	
	 
     /* 容器 <div> - 需要定位下拉内容 */
  .dropdown{
      position:relative;
    display:inline-block;
 }
 
 /* 下拉菜单内容，设置为隐藏 */
 .dropdown-content{
     min-width:60px;
     min-height:10px;
     max-height:30px;
     position:absolute;
     display:none;
     
 }
 
 /* 下拉按钮样式 */
 .dropbtn{
     color:white;
     font-size:16px;
     padding:10px;
     border:none;
     background-color:#408080;
     cursor:pointer;
 }
 
 /* 下拉菜单链接的样式 */
 .dropdown-content a{
    color:#CC0000;
     display:inline-block;
 }
 
 /* 鼠标移入后显示下拉菜单 */
 .dropdown:hover .dropdown-content{
     display:block;
 }
 
 /* 鼠标移入后修改链接的背景色 */
 .dropdown-content a:hover{
     
 }
 
 /* 下拉菜单显示后修改下拉按钮的背景色 */
 .dropdown:hover .dropbtn{
     background-color:#008B00;
}
}




